<div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">				
    <!--begin::Inbox--> 
    <div class="e-panel card" style="margin-left:10px; margin-right: 10px;" >
        <div class="card-body" style="font-size:15px;">
            <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered table-row-bordered">
                        <tbody>	
                            <tr id="kt_explore_toggle" title="Thư mời tham gia sự kiện ra mắt tổ chức BizRes - THE FUTURE OF WORK tại Greenwich Việt Nam" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" data-bs-trigger="hover"> 
                                <td class="text-nowrap align-middle">GInS22001</td>
                                <td class="text-nowrap align-middle">14:00</td>
                                <td class="text-nowrap align-middle">HelloGIT, BizRes, PTC, GBC,...</td>
                                <td class="text-nowrap align-middle">Thư mời tham gia sự kiện ra mắt tổ chức BizRes - THE FUTURE OF WORK tại Greenwich Việt Nam </td>
                                <td class="text-center align-middle"><a href="#">Khánh Toàn</a>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>  
                            <tr id="kt_explore_toggle" title="Thư mời tham gia sự kiện ra mắt tổ chức BizRes - THE FUTURE OF WORK tại Greenwich Việt Nam" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" data-bs-trigger="hover"> 
                                <td class="text-nowrap align-middle">GInS22001</td>
                                <td class="text-nowrap align-middle">14:00</td>
                                <td class="text-nowrap align-middle">HelloGIT, BizRes, PTC, GBC,...</td>
                                <td class="text-nowrap align-middle">Thư mời tham gia sự kiện ra mắt tổ chức BizRes - THE FUTURE OF WORK tại Greenwich Việt Nam </td>
                                <td class="text-center align-middle"><a href="#">Khánh Toàn</a>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr> 
                            <tr id="kt_explore_toggle" title="Thư mời tham gia sự kiện ra mắt tổ chức BizRes - THE FUTURE OF WORK tại Greenwich Việt Nam" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-dismiss="click" data-bs-trigger="hover"> 
                                <td class="text-nowrap align-middle">GInS22001</td>
                                <td class="text-nowrap align-middle">14:00</td>
                                <td class="text-nowrap align-middle">HelloGIT, BizRes, PTC, GBC,...</td>
                                <td class="text-nowrap align-middle">Thư mời tham gia sự kiện ra mắt tổ chức BizRes - THE FUTURE OF WORK tại Greenwich Việt Nam </td>
                                <td class="text-center align-middle"><a href="#">Khánh Toàn</a>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end::Inbox-->
</div>