<div class="d-flex align-items-center ms-1 ms-lg-3">
    <!--begin::Menu wrapper-->
    <div class="btn btn-icon btn-active-light-primary position-relative w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
        <!--begin::Svg Icon | path: icons/duotone/General/Notification2.svg-->
        <span class="svg-icon svg-icon-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <path d="M6,9 L6,15 C6,16.6568542 7.34314575,18 9,18 L15,18 L15,18.8181818 C15,20.2324881 14.2324881,21 12.8181818,21 L5.18181818,21 C3.76751186,21 3,20.2324881 3,18.8181818 L3,11.1818182 C3,9.76751186 3.76751186,9 5.18181818,9 L6,9 Z" fill="#000000" fill-rule="nonzero" />
                <path d="M10.1818182,4 L17.8181818,4 C19.2324881,4 20,4.76751186 20,6.18181818 L20,13.8181818 C20,15.2324881 19.2324881,16 17.8181818,16 L10.1818182,16 C8.76751186,16 8,15.2324881 8,13.8181818 L8,6.18181818 C8,4.76751186 8.76751186,4 10.1818182,4 Z" fill="#000000" opacity="0.3" />
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--begin::Menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column w-350px" data-kt-menu="true">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header">
                <h3 class="card-title">Nhật ký hoạt động
                <span class="badge badge-light-primary fs-7 fw-500 ms-3">2 hoạt động mới</span></h3>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body p-0">
                <!--begin::Activities-->
                <div class="mh-350px scroll-y py-3">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center bg-hover-lighten py-3 px-9">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px symbol-circle me-5">		
                            <img src="assets/media/avatars/anhtoan.jpg" width="24px" height="24px">
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="mb-1 pe-3 flex-grow-1">
                            <a href="#" class="fs-6 text-dark text-hover-primary fw-bold">Minh Toàn đã thêm 1 sự kiện</a>
                            <div class="text-gray-400 fw-bold fs-7">2 tiếng trước</div>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center bg-hover-lighten py-3 px-9">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px symbol-circle me-5">		
                            <img src="assets/media/avatars/anhkhanhtoan.jpeg" width="24px" height="24px">
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="mb-1 pe-3 flex-grow-1">
                            <a href="#" class="fs-6 text-dark text-hover-primary fw-bold">Khánh Toàn đã thêm 1 sinh viên mới</a>
                            <div class="text-gray-400 fw-bold fs-7">3 iếng trước</div>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Item-->											
                </div>
                <!--end::Activities-->
            </div>
            <!--end::Card header-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Menu-->
    <!--end::Menu wrapper-->
</div>