<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
        <!--begin::Copyright-->
        <div class="text-dark order-2 order-md-1">
            <span class="text-gray-400 fw-bold me-1">Created by</span>
            <a href="https://www.facebook.com/TienPercy/" target="_blank" class="text-muted text-hover-primary fw-bold me-2 fs-6">Tiến Percy</a>
            <a href="https://www.facebook.com/fxbite" target="_blank" class="text-muted text-hover-primary fw-bold me-2 fs-6">Thinh Le</a>
        </div>
        <!--end::Copyright-->
        <!--begin::Menu-->
        <div class="text-muted text-hover-primary fw-bold me-2 fs-6">Copyright © 2022 HelloGIT. All Rights Reserved</div>
        <!--end::Menu-->
    </div>
    <!--end::Container-->
</div>