<div class="d-flex align-items-center ms-1 ms-lg-3">
    <!--begin::Menu wrapper-->
    <div class="btn btn-icon btn-active-light-primary position-relative w-30px h-30px w-md-40px h-md-40px" data-kt-menu-trigger="click" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end" data-kt-menu-flip="bottom">
        <!--begin::Svg Icon | path: icons/duotone/General/Notification2.svg-->
        <span class="svg-icon svg-icon-1">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000" />
                    <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                </g>
            </svg>
        </span>
        <!--end::Svg Icon-->
    </div>
    <!--begin::Menu-->
    <div class="menu menu-sub menu-sub-dropdown menu-column w-350px" data-kt-menu="true">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header">
                <h3 class="card-title">Thông báo
                <span class="badge badge-light-danger fs-7 fw-500 ms-3">3 thông báo mới</span></h3>
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body p-0">
                <!--begin::Notifications-->
                <div class="mh-350px scroll-y py-3">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center bg-hover-lighten py-3 px-9">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px symbol-circle me-5">
                            <span class="symbol-label bg-light-warning">
                                <!--begin::Svg Icon | path: icons/duotone/Home/Library.svg-->
                                <span class="svg-icon svg-icon-warning svg-icon-1">
                                    <span class="symbol-label bg-light-warning">
                                        <!--begin::Svg Icon | path: icons/duotone/General/Settings-2.svg-->
                                        <span class="svg-icon svg-icon-warning svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <rect x="0" y="0" width="24" height="24" />
                                                    <path d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z" fill="#000000" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="mb-1 pe-3 flex-grow-1">
                            <a href="#" class="fs-6 text-dark text-hover-primary fw-bold">Câu lạc bộ Page Turner chưa nhập điểm tháng 6</a>
                            <div class="text-gray-400 fw-bold fs-7">2 tiếng trước</div>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center bg-hover-lighten py-3 px-9">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-40px symbol-circle me-5">
                            <span class="symbol-label">
                                <!--begin::Svg Icon | path: icons/duotone/Shopping/Credit-card.svg-->
                                <span class="svg-icon svg-icon-danger svg-icon-1">
                                    <img src="assets/media/avatars/hellogit.png" width="24" height="24" alt="">
                                </span>
                                <!--end::Svg Icon-->
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Title-->
                        <div class="mb-1 pe-3 flex-grow-1">
                            <a href="#" class="fs-6 text-dark text-hover-primary fw-bold">HelloGIT đã nhập điểm tháng 6</a>
                            <div class="text-gray-400 fw-bold fs-7">1 phút trước</div>
                        </div>
                        <!--end::Title-->
                    </div>
                    <!--end::Item-->												
                </div>
                <!--end::Notifications-->
            </div>
            <!--end::Card header-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Menu-->
    <!--end::Menu wrapper-->
</div>