<% if (typeof(toastMessage) !== 'undefined') { %>
    <% if (toastMessage.result === 'successfully') { %>
        <div class="wrapper-toast-main">
            <div class="toast-main-show success-toast-show">
                <div class="container-1-toast-main">
                    <i class="fas fa-check-circle"></i>
                </div>
                <div class="container-2-toast-main">
                    <p>Success</p>
                    <p><%= toastMessage.message %></p>
                </div>
                <button class="close-toast">&times;</button>
            </div>
    <% } %>

    <% if (toastMessage.result === 'failed') { %>
        <div class="wrapper-toast-main">
            <div class="toast-main-show error-toast-show">
                <div class="container-1-toast-main">
                    <i class="fas fa-times-circle"></i>
                </div>
                <div class="container-2-toast-main">
                    <p>Error</p>
                    <p><%= toastMessage.message %></p>
                </div>
                <button class="close-toast">&times;</button>
            </div>
        </div>
    <% } %>
<% } %>
       
    
        



