<!--begin::Modal - New Event-->
<div class="modal fade" id="event-new-modal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary modal_event_cancel" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="event-new-form" enctype="multipart/form-data" class="form">
                    <!--begin::Heading-->
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-3">Tạo sự kiện</h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->		
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Tên sự kiện: </span>
                        </label>
                        <!--end::Label-->
                        <input type="text" name="eventName" id="eventNameNew" class="form-control form-control-solid catch-event-qrcode" />
                    </div>
                    <!--end::Input group-->
                    <!--begin: upload eventPoster-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Poster sự kiện:</span>
                        </label>
                        <div class="text-center" style="margin-bottom: 15px; ">
                            <img class="text-center" style="border: 1px solid #f6f2f2; max-width: 550px;max-height: 310px;min-width: 550px;min-height: 310px;" id="preview-photo" src="#" alt="Xem trước ảnh tải lên" />
                        </div>
                        <!--end::Label-->
                        <input type="file" name="poster" class="form-control form-control-solid" id="poster">
                    </div>
                    <!--end: upload eventPoster-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Ngày diễn ra:</span>
                        </label>
                        <!--end::Label-->
                        <input type="date" name="date" class="form-control form-control-solid" id="Date">
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Cơ sở: </span>
                        </label>
                        <!--end::Label-->
                        <select name="campus" id="campus" aria-label="Select a Campus" data-control="select_campus" data-placeholder="Campus" class="form-select form-select-solid">
                            <option value="" selected="" disabled="">Chọn cơ sở</option>
                            <% if (typeof(queryData.campus) !== 'undefined') { %>
                                <% queryData.campus.forEach(value => { %>
                                    <option value="<%= value['_id'] %>"><%= value['name'] %></option>
                                <% }) %> 
                            <% } %>
                        </select>
                    </div>
                    <!--end::Input group-->
                     <!--begin::Input group-->
                    <div class="d-flex flex-column mb-2 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Đồng tổ chức</span>
                        </label>
                        <!--end::Label-->
                        <div id="main-club-input">
                            <select id="club-event-1" name="club[]" aria-label="Select a Club" data-control="select_club" data-placeholder="Câu lạc bộ" class="form-select form-select-solid">
                                <option value="" selected="" disabled="">Câu lạc bộ</option>
                                <% if (typeof(queryData.clubs) !== 'undefined' ) { %>
                                    <% queryData.clubs.forEach(value => {  %>
                                        <option value="<%= value['_id'] %>"><%= value['name'] %></option>
                                    <%  }) %>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <p style="color: #00b2ff; cursor: pointer; margin-top: 20px" id="add-input-club-event">+ Thêm câu lạc bộ</a>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center" style="margin-top: 30px">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-light me-3 modal_event_cancel">Huỷ</button>                            
                        <button type="submit" id="modal_new_event_submit" class="btn btn-primary">Lưu</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - New Event-->