<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | Clubs Management CMS</title>

    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <script defer src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/login/login.min.css">
    
    <!-- Jquery -->
    <script defer src="/lib/jquery/jquery.min.js"></script>
    <script defer src="/lib/jquery-validate/jquery.validate.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script defer src="/lib/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script defer src="/js/main.min.js"></script>
    <script defer src="/js/login/login.min.js"></script>

</head>
<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11" style="margin-top: 5vh;">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="px-5 pt-3 pb-5">
                                    <div class="text-center">
                                        <img src="/img/logo.png" alt="logo" width="60%">
                                    </div>
                                    <div class="text-center mt-2">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-size: 30px;">Login</h1>
                                    </div>
                                    <form class="user" id="login-form-input">
                                        <div class="mb-3">
                                            <label for="inputCampus" class="form-label">Campus</label>
                                            <select id="inputCampus" class="form-select" name="campus">
                                                <option value="" selected disabled>Select Campus</option>
                                                <option value="">...</option>
                                            </select>
                                            <div class="invalid-feedback d-block">
                                                <label id="inputCampus-error" class="error" for="inputCampus"></label>
                                                <% if(typeof(errors) !== 'undefined') { %><%= errors.campus %><% } %>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="inputUsername" class="form-label">Username</label>
                                            <input type="text" class="form-control" id="inputUsername" name="username">
                                            <div class="invalid-feedback d-block">
                                                <label id="inputUsername-error" class="error" for="inputUsername"></label>
                                                <% if(typeof(errors) !== 'undefined') { %><%= errors.username %> <% } %>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="inputPassword" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="inputPassword" name="password">
                                            <div class="invalid-feedback d-block">
                                                <label id="inputPassword-error" class="error" for="inputPassword"></label>
                                                <% if(typeof(errors) !== 'undefined') { %><%= errors.password %><% } %>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-color" id="login-submit-button">Submit</button>
                                        <% if(typeof(message) !== 'undefined') { %>
                                            <div class="mb-3 text-center">
                                                <h5 style="color: #eb4310; margin-top: 15px" id="messageError"><%= message %></h5>
                                            </div>
                                        <% } %>
                                        <hr>
                                        <div class="col-md-12 text-center reset-component">
                                            Clubs Management CMS
                                        </div>
                                        <div class="col-md-12 text-center mt-2">
                                            <p>
                                              © Developer by 
                                              <a href="https://www.facebook.com/HelloGIT" target="_blank" rel="noopener noreferrer">HelloGIT Team</a>
                                              &nbsp;|&nbsp;
                                              <a href="https://en.wikipedia.org/wiki/Content_management_system" target="_blank" rel="noopener noreferrer">CMS</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>
</html>