body {
    background: linear-gradient(rgba(255,255,252, 0.7), rgba(255,255,252, 0.7)), 
    url('../../img/university.jpg') no-repeat fixed center !important;
    background-size: cover !important;
}

#inputCampus {
    font-weight: 650;
    color: #495057
}

.btn-color {
    background-color: #04769e;
    color: white;
    font-weight: bold;
    width: 100%;
}

a {
    text-decoration: none;
}

.invalid-feedback {
    font-size: 0.975rem;
}