<!--begin::Modal - New Student-->
<div class="modal fade" id="student-new-modal" tabindex="-1" aria-hidden="true">
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content rounded">
            <!--begin::Modal header-->
            <div class="modal-header pb-0 border-0 justify-content-end">
                <!--begin::Close-->
                <div class="btn btn-sm btn-icon btn-active-color-primary modal-student-cancel" data-bs-dismiss="modal">
                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                    <span class="svg-icon svg-icon-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                            <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                </div>
                <!--end::Close-->
            </div>
            <!--begin::Modal header-->
            <!--begin::Modal body-->
            <div class="modal-body scroll-y px-10 px-lg-15 pt-0 pb-15">
                <!--begin:Form-->
                <form id="student-new-form" class="form">
                    <!--begin::Heading-->
                    <div class="mb-13 text-center">
                        <!--begin::Title-->
                        <h1 class="mb-3">Thêm sinh viên</h1>
                        <!--end::Title-->
                    </div>
                    <!--end::Heading-->		
                    <div class="d-flex flex-column mb-8 fv-row">
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>ID:</span>
                        </label>
                        <input type="text" name="schoolId" id="schoolId" class="form-control form-control-solid"/>
                    </div>
                    <!--end::Input group-->			
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Họ và tên: </span>
                        </label>
                        <!--end::Label-->
                        <input type="text" name="fullname" class="form-control form-control-solid" />
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Email:</span>
                        </label>
                        <!--end::Label-->
                        <input type="text" name="email" id="email" class="form-control form-control-solid" />
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="d-flex flex-column mb-8 fv-row" style="margin-top: 30px;">
                        <!--begin::Label-->
                        <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                            <span>Cơ sở đang học:</span>
                        </label>
                        <!--end::Label-->
                        <select name="campus" id="campus" aria-label="Select a Campus" data-control="select_campus" data-placeholder="Campus" class="form-select form-select-solid">
                            <option value="" selected="" disabled="">Chọn cơ sở</option>
                            <% if (payload.queryData.campus) { %>
                                <% payload.queryData.campus.forEach(value => { %>
                                    <option value="<%= value['_id'] %>"><%= value['name'] %></option>
                                <% }) %> 
                            <% } %>
                        </select>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Actions-->
                    <div class="text-center">
                        <button type="button" data-bs-dismiss="modal" class="btn btn-light me-3 modal-student-cancel">Huỷ</button>
                        <button type="submit" id="kt_modal_new_target_submit" style="background-color: #3cd13c;" class="btn btn-primary">Lưu</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end:Form-->
            </div>
            <!--end::Modal body-->
        </div>
        <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
</div>
<!--end::Modal - New Student-->