<div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">				
    <!--begin::Score--> 
    <div class="e-panel card" style="margin-left:10px; margin-right: 10px;" >
        <div class="card-body" style="font-size:15px;">
            <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:100px;">ID</th>
                                <th style="width:400px;">Tên câu lạc bộ</th>
                                <th style="width:250px;">Email</th>
                                <th style="width:100px;" class="text-center">Nickname</th>
                                <th style="width:200px;" class="text-center">Fanpage</th>
                                <th style="width:200px;" class="text-center">Ngày thành lập</th>
                                <th style="width:200px;" class="text-center">Được thêm bởi</th>
                                <th style="width:200px;" class="text-center">Sửa/Xoá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap align-middle">GClS22001</td>
                                <td class="text-nowrap align-middle"><a href="pdp/club/HelloGIT.html">HELLOGIT_UoG Information Technology Club</a></td>
                                <td class="text-nowrap align-middle">gwhellogit@gmail.com</td>
                                <td class="text-center align-middle">
                                    <span class="badge badge-light-warning fw-bolder fs-6 px-2 py-1 ms-2">HelloGIT</span>
                                </td>
                                <td class="text-center align-middle"><a href="https://www.facebook.com/HelloGIT">HelloGIT</a></td>
                                <td class="text-center align-middle">12/04/2021</td>
                                <td class="text-center align-middle"><a href="#">Minh Toàn</a>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_club">Sửa</button>
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>  
                            <tr>
                                <td class="text-nowrap align-middle">GClS22002</td>
                                <td class="text-nowrap align-middle"><a href="pdp/club/HelloGIT.html">Greenwich Page Turner Club</a></td>
                                <td class="text-nowrap align-middle">pageturnerclub123@gmail.com</td>
                                <td class="text-center align-middle">
                                    <span class="badge badge-light-warning fw-bolder fs-6 px-2 py-1 ms-2">PTC</span>
                                </td>
                                <td class="text-center align-middle"><a href="https://www.facebook.com/caulacbopageturner">PTC</a></td>
                                <td class="text-center align-middle">12/04/2021</td>
                                <td class="text-center align-middle"><a href="#">Minh Toàn</a>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_club">Sửa</button>
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>   
                            <tr>
                                <td class="text-nowrap align-middle">GClS22003</td>
                                <td class="text-nowrap align-middle"><a href="pdp/club/HelloGIT.html">BizRes Organization</a></td>
                                <td class="text-nowrap align-middle">hellobizres@gmail.com</td>
                                <td class="text-center align-middle">
                                    <span class="badge badge-light-warning fw-bolder fs-6 px-2 py-1 ms-2">BizRes</span>
                                </td>
                                <td class="text-center align-middle"><a href="https://www.facebook.com/BizResOrganization">BizRes</a></td>
                                <td class="text-center align-middle">16/04/2022</td>
                                <td class="text-center align-middle"><a href="#">Khánh Toàn</a>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_club">Sửa</button>
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end::Score-->
</div>