<div class="content d-flex flex-column flex-column-fluid fs-6" id="kt_content">				
    <!--begin::Score--> 
    <div class="e-panel card" style="margin-left:10px; margin-right: 10px;" >
        <div class="card-body" style="font-size:15px;">
            <div class="e-table">
                <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th style="width:100px;">ID</th>
                                <th style="width:400px;">Tên sự kiện</th>
                                <th style="width:200px;" class="text-center">Ngày tổ chức</th>
                                <th style="width:150px;" class="text-center">Đồng tổ chức</th>
                                <th style="width:200px;" class="text-center">Được thêm bởi</th>
                                <th></th>
                                <th style="width:200px;" class="text-center">Sửa/Xoá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-nowrap align-middle">GEvS22001</td>
                                <td class="text-nowrap align-middle"><a href="" data-bs-toggle="modal" data-bs-target="#pdp_detail_event">LEARNING BLOCKCHAIN: INTELLECTUAL PROPERTY ON THE BLOCKCHAIN</td>
                                <td class="text-center align-middle">16/07/2022</td>
                                <td class="text-center align-middle">
                                    <span class="badge badge-light-success fw-bolder fs-6">HelloGIT</span>
                                </td>
                                <td class="text-center align-middle"><a href="pdp/overview.html">Minh Toàn</a></td>
                                <td class="text-center align-middle"><a href="pdp/event/learning_blockchain_intellectual_property_on_the_blockchain.html">SV tham dự</a></td>
                                <td class="text-center align-middle">
                                    <div class="btn-group align-top">
                                        <button class="btn btn-secondary badge" type="button" data-bs-toggle="modal" data-bs-target="#pdp_edit_event">Sửa</button>
                                        <button class="btn btn-secondary badge" type="button"><i class="fa fa-trash"></i></button>
                                    </div>
                                </td>
                            </tr>  
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end::Score-->
</div>